{% extends "root.html" %}
{% block title %}
    سالن زیبایی
{% endblock title %}
{% block doc %}
    <div style="text-align: center;">
        <p class="h1 mb-5 mt-5">
            برای دریافت خدمات در روزهای تعطیل با مدیریت هماهنگ نمایید.
        </p>
    </div>
    <form action="{% url 'SALON' %}" method="post" class="mb-5">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="sibmit" value="submit">دریافت</button>
        </div>
    </form>
{% endblock doc %}
