{% extends "root.html" %}
{% block title %}
    سالن زیبایی
{% endblock title %}
{% block doc %}
    <div style="text-align: center;">
        <p class="h1 mb-5 mt-5">
            برای دریافت خدمات در روزهای تعطیل با مدیریت هماهنگ نمایید.
        </p>
    </div>
    <form action="{% url 'SALON' %}" method="post" class="mb-5">
        <label for="">عنوان</label>
        {{ form.title }}
        <label for="">روز</label>
        {{ form.date }}
        <label for="">ساعت</label>
        {{ form.hour }}
        <label for="">توضیحات</label>
        {{ form.description }}
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="sibmit" value="submit">دریافت</button>
        </div>
    </form>
{% endblock doc %}
