{% extends 'root.html' %}

{% load static %}

{% block title %}

خدمات

{% endblock title %}

{% block doc %}

<div class="">
    <div class="h2">
        <p class="text-center">برای رزرو و دریافت نوبت از <a href="{% url 'RESERVED' %}">اینجا</a> اقدام نمایید</p>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        {% for service in services %}
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    {{ service.title }}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{ service.description }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock doc %}