{% extends "root.html" %}
{% load static %}
{% block title %}
    کلینیک
{% endblock title %}
{% block doc %}
    <div style="text-align: center;">
        <p class="h1">
            تاریخ را به صورت زیر وارد نمایید
            <p class="h2">1402-01-01</p>
        </p>
    </div>
    <form action="{% url 'CLINIC' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">دریافت</button>
        </div>
    </form>
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
	<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock doc %}
