{% extends 'root.html' %}

{% block title %}
تایید فراموشی گذر واژه
{% endblock title %}

{% block doc %}

<section class="h-80 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <h4 class="mt-1 mb-5 pb-1">از طرف گروه پشتیبانی آروت بیوتی</h4>
                                </div>
                                <form method="post" action="{% url 'CONFIRM' %}">
                                    <p>لطفا گذر واژه خود را وارد نمایید</p>
                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="password_id" class="form-control"
                                            placeholder="********" />
                                        <label class="form-label" for="password">گذر واژه</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" name="confirm_password" id="password_id" class="form-control"
                                            placeholder="********" />
                                        <label class="form-label" for="password">تایید گذر واژه</label>
                                    </div>
                                    {% csrf_token %}
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                            type="submit" value="submit">تایید</button>
                                        <br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock doc %}