{% extends 'root.html' %}

{% load static %}

{% block title %}
فراموشی گذر واژه
{% endblock title %}

{% block doc %}
<div class="vh-80 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card bg-white">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4" action="{% url 'OTP-FORGET' %}" method="post">
                <h2 class="fw-bold mb-2 text-uppercase text-center pb-5">از طرف تیم پشتیبانی آروت بیوتی</h2>
                <p class=" mb-5">فراموشی رمز عبور</p>
                <div class="mb-3">
                  <label for="phone" class="form-label "></label>
                  <input type="number" name="phone" class="form-control" id="phone" placeholder="09121234567">
                </div>
                {% csrf_token %}
                <div class="d-grid">
                  <button class="btn btn-outline-dark" type="continue" value="continue">ادامه</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock doc %}