{% extends "root.html" %}

{% block title %}
تغییر پروفایل کاربری {{ user.username }}
{% endblock title %}

{% block doc %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <h4 class="mt-1 mb-5 pb-1">از طرف گروه پشتیبانی آروت بیوتی</h4>
                                </div>
                                <form action="{% url 'UPDATE-PROFILE' user.pk %}" method="post">
                                    
                                    {% for field in form %}
                                        <div class="mb-5 mt-5">
                                            <div class="m-1">
                                                {{ field.label }}
                                            </div>
                                            <div class="m-1">
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                        
                                    {% csrf_token %}

                                    <div class="d-grid mb-5 mt-5">
                                        <button class="p-2 btn btn-outline-dark" type="submit"> تغییر دادن</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock doc %}